*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #c72092 , #6c14d0);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav .logo{
    font-size: 35px;
    color: #c72092;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -1%;
}

nav .logo span{
    color: #6c14d0;
    text-decoration: underline;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 4px 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

nav ul li a:hover{
    color: #c72092;
}

/*Products*/

.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0;
}

.products h1{
    margin: 60px 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #c72092,#6c14d0);
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.products .products_text input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    max-width: 60px;
    text-align: center;
}
.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.products .box .card{
    width: 290px;
    height: 440px;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
}

.products .box .card .small_card{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0;
    transform: translateX(-20px);
    transition: 0.3s;
    opacity: 0;
}

.products .box .card:hover .small_card{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}

.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box .card .image img{
    width: 150px;
    margin: 15px 0;
    transition: 0.3s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}

.products .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid #999999;
    transition: 0.2s;
}

.products .box .card .small_card i:hover{
    color: #c72092;
}

.products .box .card .products_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .products_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .products_text h3{
    margin: 7px 0;
}

.products .box .card .products_text .products_star{
    color: orange;
    margin-bottom: 19px;
    cursor: pointer;
}

.products .box .card .products_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    color: white;
}

::-webkit-input-placeholder{
    color: black;
    opacity: 0.7;
}

/*cart*/

.cart {
    margin: 20px;
    padding: 70px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart .box img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart .price {
    color: #007bff;
    margin-bottom: 10px;
}

.cart .quantity-control input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    max-width: 60px;
    text-align: center;
}

.cart .btn {
    background: linear-gradient(to right, #c72092 , #6c14d0);
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart td {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.cart th {
    background: #c72092;
    text-align: center;

}

.cart td:last-child {
    text-align: center;
}

.cart .quantity-control {
    display: flex;
    align-items: center;
}

.cart .quantity-control button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.cart .btn-remove {
    font-size: 12px;
    padding: 5px 10px;
}
.cart .total-price{
    display:flex;
    justify-content:flex-end;
    text-align: center;
}

.cart .total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
/* thêm cái search(?)*/
.search {
    width: max-content;
    margin-left: 0;
    display: flex;
    align-items: center;
    width: 300px;
}

.search input[type="text"] {
    font-size: 16px;
    margin-left: 14px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search form {
display: flex;
align-items: center;
}
.search input.box {
flex: 1;
margin-right: 10px;
}
.search button{
    background-color: #fff;
    border: 1px solid #fff;
}
/*user*/

.user-profile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile p {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.user-profile span {
    font-weight: fixed;
}

.user-profile .edit-button {
    background-color: #C0C0C0;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 9px;
    cursor: pointer;
    border-radius: 5px;
}

.user-profile .edit-button:hover {
    background-color: #45a049;
}
.user-profile table {
    width: 100%;
    max-width: 600px;
}

.user-profile td {
    padding: 8px;
}

.user-profile .box {
    width: calc(100% - 40px);
    padding: 8px;
    margin: 10px auto;  
}

.user-profile .edit-button {
    background-color: #ddd;
    border-right: 10px;
    cursor: pointer;
}

.user-profile .edit-button:hover {
    background-color: #bbb;
}

.user-profile .flex {
    display: flex;
   justify-content: center;
}

.user-profile .flex .delete-btn {
    background: linear-gradient(to right, #c72092 , #6c14d0);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.user-profile .flex .delete-btn:hover {
    background-color: #df3727;
}